
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
--Purplelight: hsl(254, 88%, 90%);
--Purple: hsl(256, 67%, 59%);

--Yellowlight: hsl(31, 66%, 93%);
--Yellow: hsl(39, 100%, 71%);

--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);

}


body{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
  
}

h1, h2, h3 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500; /* Medium */
}

.container{
    display: grid;
    width: 900px;
    height: 600px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
   

    }


    .item{
        display: flex;
        flex-direction: column;
         align-items: center;
      justify-content: center;
      


        img{
           object-fit: contain;
            width: 100%;
        }
    }

    .item-1{
        grid-column: span 1;
        grid-row: span 2;
        background-color:var(--Yellowlight);

        img{
            margin-top: 10px;
            width: 120px;
        }

         p{
    font-size: 30px;
         }

         span{
            color: blue;
         }


    }

      .item-2{
        grid-column: span 2;
        grid-row: span 1;

        background-color:var(--Purple);

        
        img{
            margin-top: 20px;
            margin-bottom: 10px;
            width: 120px;
        }

          p{
    font-size: 30px;
    color: white;
    margin-top: 10px;
         }

         span{
            color: rgb(248, 183, 61);
         }

          .review{
            font-size: xx-small;
    color: white;
    margin-bottom: 10px;
         }

    }

      .item-3{
        grid-column: span 1;
        grid-row: span 2;

        background-color: var(--Purplelight);
        
        img{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 190px;
             align-self: flex-end;
        }


         p{
            margin-top: 20px;
            font-size: 30px;
         }

        .schedule{
            margin-left: 20px;
            margin-right: 20px;
            font-size: 15px;
        }


  
    }



      .item-4{
        
        grid-column: span 1;
        grid-row: span 1;

        background-color:var(--White);
        
        img{
            margin-top: 20px;
            width: 160px;
        }
          p{
            margin-top: 10px;
           font-size: 30px;
         }
    }

      .item-5{
        grid-column: span 1;
        grid-row: span 1;

        background-color: var(--Yellow);

        img{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 150px;
             margin-bottom: 0;
        }

          p{
            margin-top: 10px;
            font-size: 30px;
         }
    }

      .item-6{
        grid-column: span 1;
        grid-row: span 1;

         background-color: var(--Yellow);

        img{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 120px;
        }

         p{
           margin-top: 10px;
            font-size: 30px;
         }
    }

      .item-7{
        grid-column: span 1;
        grid-row: span 1;

        background-color:var(--White);

        img{
            margin-top: 10px;
            margin-bottom: 20px;
            width: 120px;
        }

         p{
            font-size: 30px;
         }

         span{
            font-size: 15px;
            margin-bottom: 20px;
         }
    }

      .item-8{
        grid-column: span 2;
        grid-row: span 1;

       background-color:var(--Purple);

        img{
            margin-top: 20px;
          margin-bottom: 20px;
            width: 180px;
        }

        p{
            font-size: 30px;
            color: white;
        }
    }


   /* #img-styling3{
        display: ;
    }
    
    */

#img-styling{
    display: flex;
    flex-direction: row;
}








@media (max-width: 768px) {

     .container{
      max-width: 900px;
      width: 100%;
      display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-template-rows: repeat(1, 1fr);
     padding: 0 20px;

  
     }

  

     .item-2{
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 1;
      border-radius: 10px;
       margin-bottom: 20px;
       padding: 0 20px;
       
       .br-desktop {
       display: none;
  }

  p{
    font-weight: bold;
    text-align: center;
  }
  
 

     }

       .item-4{
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 1;
      border-radius: 10px;
       margin-bottom: 20px;

        img{
     width: 100%;
     max-width: 100%;
     padding: 20px;
     align-self: flex-start;
       }

       .br-desktop {
       display: none;
  }

  p{
 font-weight: bold;
 color: var(--Black);
 align-self: flex-start;
 margin-left: 20px;
  }

     }

     .item-5{
     grid-row-start: 3;
     grid-row-end:3 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;

      
       .br-desktop {
       display: none;
  }

       p{
        padding-left: 20px;
        padding-right: 20px;
 font-weight: bold;
 color: var(--Black);
  }

  img{
     align-self: flex-start;
     padding-left: 20px;
     width: 50%;
     max-width: 50%;
  }

     }
      
     .item-3{
     grid-row-start: 4;
     grid-row-end:4 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;

     
      
       .br-desktop {
       display: none;
  }

  
       p{
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
        color: var(--Black);
        margin-bottom: 20px;
  }

  p .schedule{
    font-weight: lighter;
  }

  img{
    align-self: center;
     width: 100%;
     max-width: 100%;
  display: block;
 padding: 20px;
  }

     }

     .item-8{
       grid-row-start: 5;
     grid-row-end:5 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;

  img{
 width: 50%;
 max-width: 50%;
  }

  p{
    margin-bottom: 20px;
  }

     }


    .item-7{
      grid-row-start: 6;
     grid-row-end:6 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;
      

      p{
        font-weight: bold;
        align-self: flex-start;
        margin-left: 20px;
        font-size: 40px;
      }


      img{
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 20px;
      }

     }

     .item-1{
      grid-row-start: 7;
     grid-row-end:7 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
     margin-bottom: 20px;

     p{
      font-weight: bold;
      margin: 20px;
      margin-bottom: 20px;
  
     }

     img{
      margin-bottom: 20px;
      width: 50%;
      max-width: 50%;
      align-self: flex-start;
      margin-left: 20px;
     }

     .br-desktop {
       display: none;
  }

     }


    .item-6{
      grid-row-start:8;
     grid-row-end:8;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
     
     
       .br-desktop {
       display: none;
  }

  p{
    font-weight: bold;
    margin: 20px;
    align-self: flex-start;
  }

  img{
     margin-bottom: 20px;
      width: 50%;
      max-width: 50%;
      align-self: flex-start;
      margin-left: 20px;
  }

     }

#img-styling {
  display: flex;
  flex-direction: column;
    margin-bottom: 10px;
   
}

} 



@media (min-width: 768px) and (max-width: 1024px) {
 
  body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  /* Remove vertical centering */
  padding-top: 20px;
 
  height: auto;
  margin-top: 30px;
  margin-bottom: 340px;
}







    .item{
        display: flex;
        flex-direction: column;
         align-items: center;
      justify-content: center;
    
  padding-top: 10px;
    }

    .item 
        img{
           object-fit: contain;
            width: 40%;
        }


     .container{
      max-width: 900px;
      width: 100%;
      display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-template-rows: auto;
    
     
     }

     .container > .item:last-child {
  margin-bottom: 40px;
}

  

     .item-2{
      grid-row-start: 1;
      grid-row-end: 1;
      grid-column-start: 1;
      grid-column-end: 1;
      border-radius: 10px;
      
       
       .br-desktop {
       display: none;
  }



  p{
    font-weight: bold;
    text-align: center;
  }
  
 

     }

       .item-4{
      grid-row-start: 2;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 1;
      border-radius: 10px;
       margin-bottom: 20px;

        img{
     width: 100%;
     max-width: 100%;
     padding: 20px;
     align-self: flex-start;
       }

       .br-desktop {
       display: none;
  }

  p{
 font-weight: bold;
 color: var(--Black);
 align-self: flex-start;
 margin-left: 20px;
  }

     }

     .item-5{
     grid-row-start: 3;
     grid-row-end:3 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;
 align-self: flex-start;
      
       .br-desktop {
       display: none;
  }

       p{
        padding-left: 20px;
        padding-right: 20px;
 font-weight: bold;
 color: var(--Black);
  align-self: flex-start;
  }

  img{
     align-self: flex-start;
     padding-left: 20px;
     width: 50%;
     max-width: 50%;
  }

     }
      
     .item-3{
     grid-row-start: 4;
     grid-row-end:4 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;

     
      
       .br-desktop {
       display: none;
  }

  
       p{
         align-self: flex-start;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 400;
        color: var(--Black);
        margin-bottom: 20px;
        font-weight: bolder;
      

  }

  p .schedule{
    font-weight: bolder;
    padding: 0 30px;
  }

  img{
    align-self: center;
     width: 100%;
     max-width: 100%;
  display: block;
 padding: 20px;
  }

     }

     .item-8{
       grid-row-start: 5;
     grid-row-end:5 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;

  img{
 width: 50%;
 max-width: 50%;
  }

  p{
    margin-bottom: 20px;
  }

     }


    .item-7{
      grid-row-start: 6;
     grid-row-end:6 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
      margin-bottom: 20px;
      

      p{
        font-weight: bold;
        align-self: flex-start;
        margin-left: 20px;
        font-size: 40px;
      }


      img{
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 20px;
      }

     }

     .item-1{
      grid-row-start: 7;
     grid-row-end:7 ;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
     margin-bottom: 20px;

     p{
      font-weight: bold;
      margin: 20px;
      margin-bottom: 20px;
       align-self: flex-start;
  
     }

     img{
      margin-bottom: 20px;
      width: 50%;
      max-width: 50%;
      align-self: flex-start;
      margin-left: 20px;
     }

     .br-desktop {
       display: none;
  }

     }


    .item-6{
      grid-row-start:8;
     grid-row-end:8;
     grid-column-start: 1;
     grid-column-end: 1;
     border-radius: 10px;
    margin-bottom: 40px;

     
       .br-desktop {
       display: none;
  }

  p{
    font-weight: bold;
    margin: 20px;
    align-self: flex-start;
  }

  img{
     margin-bottom: 20px;
      width: 50%;
      max-width: 50%;
      align-self: flex-start;
      margin-left: 20px;
  }

     }

#img-styling {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

}